[submodule "wasm/zsign-wasm"]
	path = wasm/zsign-wasm
	url = https://github.com/lbr77/zsign-wasm
[submodule "wasm/libcurl-wasm"]
	path = wasm/libcurl-wasm
	url = https://github.com/lbr77/libcurl.js
[submodule "wasm/openssl-wasm"]
	path = wasm/openssl-wasm
	url = https://github.com/jedisct1/openssl-wasm
