# Dependencies
node_modules/
.pnp/
.pnp.js

# Build outputs
dist/
build/
out/
*.tsbuildinfo
# webmuxd package compiled output
dependencies/webmuxd/lib/

# actions build outputs
deploy-package/

# Caches
.cache/
.turbo/
.vite/
.parcel-cache/

# Editor / IDE
.idea/
.vscode/
!.vscode/extensions.json
*.swp
*.swo
.DS_Store

# Logs + env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local

# Misc
coverage/
.wrangler/
repomix-output.xml
